{{> signin}}
<div style="float:left">
	{{#if carsForSale.image}}
	<img src="/images/{{carsForSale.image}}" style="width:400px">
	{{else}}
	<h2>IMAGE NOT AVAILABLE!!!!</h2>
	{{/if}}
</div>

<div style="float:left">
	<h1 style="color:rgb(149, 0, 255); font-weight:bold">
		{{#if carsForSale.sold}}
		Sorry {{firstName}} SOLD THIS CAR!
		{{/if}}
	</h1>
	<h3><b>{{carsForSale.year}} {{carsForSale.make}} {{carsForSale.model}}</b></h3>
	{{#if firstName}}
	<h2>{{ firstName }}'s rock bottom Price: ${{carsForSale.price}}</h2>
	{{else}}
	<h2>Supa Low Price: ${{carsForSale.price}}</h2>
	{{/if}}
	<button>Buy this rockin' awesome cuz nate says so {{carsForSale.model}}</button>
	<br><br>
	<button class="cars"><a href="/carsforsale/">View All Cars -></a></button>
</div>